<% content_for(:title_info, "アカウント確認メールの再送信") %>
<div class="bg-white">
  <div class="flex flex-col items-center px-6 py-8 mx-auto md:h-screen md:py-24">
    <div class="w-full bg-white rounded-lg shadow sm:max-w-md">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h2>アカウント確認メールの再送信</h2>
        <%= render "users/shared/error_messages", resource: resource %>
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "space-y-4 md:space-y-6" }) do |f| %>
          <div class="field space-y-2">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "text-field" %>
          </div>
          <div class="actions">
            <%= f.submit "再送信", class: "submit-button w-full" %>
          </div>
        <% end %>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
