<%= form_with model: profile, class: "space-y-6" do |f| %>
  <%= render "shared/error", model: f.object %>
  <div class="relative h-fit">
    <div class="absolute w-full h-full flex items-center justify-center">
      <%= f.label :cover, class:"cover-image-button" do %>
        カバー画像の変更
      <% end %>
      <%= f.file_field :cover, class:"hidden" %>
    </div>
    <div class="bg-gray-100 aspect-[4/1] overflow-hidden">
      <%= image_tag select_image_preview(profile.cover, "large"), id: "profile_cover_preview", class: { "h-full w-full object-cover": profile.cover.attached? } %>
    </div>
  </div>
  <div class="text-center">
    <%= f.label :avatar, class: "inline-block cursor-pointer" do %>
      <div class="w-16 h-16 rounded-full overflow-hidden">
        <%= image_tag select_image_preview(profile.avatar, "avatar"), class: { "h-full w-full object-cover": profile.cover.attached? }, id: "profile_avatar_preview" %>
        <%= render "shared/icons/user", class_list: "icon-x-large fill-current" %>
      </div>
    <% end %>
    <%= f.file_field :avatar, class:"hidden" %>
  </div>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, class: "text-field" %>
  </div>
  <div>
    <%= f.label :introduction %>
    <%= f.text_area :introduction, rows: "8", class: "text-field" %>
  </div>
  <div>
    <%= f.submit "変更", class: "submit-button" %>
    <%= link_to "キャンセル", profile, class: "cancel-button" %>
  </div>
<% end %>
