<div>
  <div class="bg-gray-100 aspect-[4/1] overflow-hidden">
    <% if profile.cover.attached? %>
      <%= image_tag profile.cover.variant(resize_to_limit: select_image_size("large")), class: "w-full h-full object-cover" %>
    <% end %>
  </div>
  <div class="p-4 space-y-4">
    <div class="relative">
      <div class="flex items-center justify-start md:justify-center gap-4">
        <%= create_avatar_elements profile.avatar, "icon-x-large" %>
        <h2><%= profile.name %></h2>
      </div>
      <%= link_to :back, class: "absolute top-3 left-0 z-10 hidden md:block" do %>
        <%= render "shared/icons/back_button", class_list: "icon-medium fill-current" %>
      <% end %>
      <% if user_signed_in? && current_user.same_user?(profile.user_id) %>
        <%= link_to edit_profile_path, class: "absolute top-3 right-0 z-10" do %>
          <%= render "shared/icons/config", class_list: "icon-medium fill-current" %>
        <% end %>
      <% end %>
    </div>
    <div class="flex justify-center">
      <% if !user_signed_in? || !current_user.same_user?(profile.user_id) %>
        <%= create_follow_button(profile.user_id) %>
      <% end %>
    </div>
    <div class="flex justify-center gap-4">
      <div>
        <span class="font-medium"><%= profile.user.followers.count %></span>
        <%= link_to "フォロワー", followers_profile_path, class: "normal-link ml-2" %>
      </div>
      <div>
        <span class="font-medium"><%= profile.user.followings.count %></span>
        <%= link_to "フォロー中", following_profile_path, class: "normal-link ml-2" %>
      </div>
    </div>
    <div class="flex justify-center">
      <p class="tracking-wide leading-relaxed"><%= safe_join(profile.introduction.split("\n"), tag(:br)) %></p>
    </div>
  </div>
</div>
