<div class="bg-white">
  <div class="px-6 max-w-7xl mx-auto">
    <%= render @profile %>
    <hr>
    <div class="p-4">
      <%= turbo_frame_tag "profile_posts" do %>
        <div class="flex gap-5 justify-center mb-3">
          <%= create_posts_tab %>
          <%= create_likes_tab %>
          <%= create_bookmarks_tab @profile.user_id %>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2">
          <%= render partial: "post", collection: @posts %>
        </div>
      <% end %>
    </div>
  </div>
</div>
