<div class="bg-white">
  <div class="px-6 max-w-7xl mx-auto">
    <div class="bg-gray-100 aspect-[4/1] overflow-hidden">
      <% if @profile.cover.present? %>
        <%= image_tag @profile.cover.variant(resize_to_limit: [1500, 1500]), class: "w-full h-full object-cover" %>
      <% end %>
    </div>
    <div class="p-4 space-y-4">
      <div class="relative">
        <div class="flex items-center justify-start md:justify-center gap-4">
          <% if @profile.avatar.present? %>
            <div class="w-16 h-16 rounded-full overflow-hidden">
              <%= image_tag @profile.avatar.variant(resize_to_limit: [100, 100]), class: "w-full h-full object-cover" %>
            </div>
          <% else %>
            <svg class="w-16 h-16 text-gray-900" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path clip-rule="evenodd" fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-5.5-2.5a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zM10 12a5.99 5.99 0 00-4.793 2.39A6.483 6.483 0 0010 16.5a6.483 6.483 0 004.793-2.11A5.99 5.99 0 0010 12z"></path>
            </svg>
          <% end %>
          <p class="text-xl font-semibold text-gray-900"><%= @profile.name %></p>
        </div>
        <div class="absolute top-0 left-0 w-full h-full flex justify-end items-center">
          <%= link_to edit_profile_path do %>
            <svg class="w-10 h-10 text-gray-700 hover:text-gray-900" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 011.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.56.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.893.149c-.425.07-.765.383-.93.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 01-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.397.165-.71.505-.781.929l-.149.894c-.09.542-.56.94-1.11.94h-1.094c-.55 0-1.019-.398-1.11-.94l-.148-.894c-.071-.424-.384-.764-.781-.93-.398-.164-.854-.142-1.204.108l-.738.527c-.447.32-1.06.269-1.45-.12l-.773-.774a1.125 1.125 0 01-.12-1.45l.527-.737c.25-.35.273-.806.108-1.204-.165-.397-.505-.71-.93-.78l-.894-.15c-.542-.09-.94-.56-.94-1.109v-1.094c0-.55.398-1.02.94-1.11l.894-.149c.424-.07.765-.383.93-.78.165-.398.143-.854-.107-1.204l-.527-.738a1.125 1.125 0 01.12-1.45l.773-.773a1.125 1.125 0 011.45-.12l.737.527c.35.25.807.272 1.204.107.397-.165.71-.505.78-.929l.15-.894z"></path>
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
            </svg>
          <% end %>
        </div>
      </div>
      <div class="flex justify-center">
        <p class="text-sm text-gray-900 tracking-wide leading-relaxed"><%= safe_join(@profile.introduction.split("\n"),tag(:br)) %></p>
      </div>
    </div>
    <hr>
    <div class="p-4">
      <h2 class="text-center text-xl font-semibold text-gray-900 pb-3">投稿</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2">
        <% @posts.each do |post| %>
          <%= link_to post, class:"group relative flex items-end inline-block shadow bg-gray-100 overflow-hidden h-72" do %>
            <%= image_tag post.image.variant(resize_to_limit: [500, 500]), class: "h-full w-full object-cover object-center" %>
            <div class="absolute opacity-0 w-full p-2 bg-gradient-to-t from-gray-900 transition duration-100 group-hover:opacity-100">
              <span class="text-sm text-white"><%= post.title %></span>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
