<div class="p-3 flex gap-2 items-center">
  <% if user_signed_in? %>
    <% if current_user.like?(@post.id) %>
      <%= button_to post_likes_path(@post), method: :delete do %>
        <%= render "shared/icons/heart", class_list: "w-8 h-8 fill-current stroke-current" %>
      <% end %>
    <% else %>
      <%= button_to post_likes_path(@post), method: :post do %>
        <%= render "shared/icons/heart", class_list: "w-8 h-8 fill-none stroke-current" %>
      <% end %>
    <% end %>
    <% if current_user.bookmarking?(@post.id) %>
      <%= button_to post_bookmarks_path(@post), method: :delete do %>
        <%= render "shared/icons/bookmark", class_list: "w-8 h-8 fill-current stroke-current" %>
      <% end %>
    <% else %>
      <%= button_to post_bookmarks_path(@post), method: :post do %>
        <%= render "shared/icons/bookmark", class_list: "w-8 h-8 fill-none stroke-current" %>
      <% end %>
    <% end %>
  <% else %>
    <%= render "shared/icons/heart", class_list: "w-8 h-8 fill-none stroke-current" %>
    <%= render "shared/icons/bookmark", class_list: "w-8 h-8 fill-none stroke-current" %>
  <% end %>
</div>
