<div id="dropdownWrap" class="relative flex items-center justify-center">
  <%= button_tag type: "button", id: "dropdownToggle", class: "flex items-center whitespace-nowrap py-1 px-4 border border-gray-700 border- rounded-full text-gray-700" do %>
    <span>ソート</span>
    <%= render "shared/icons/expand", class_list: "h-4 w-4 fill-current" %>
  <% end %>
  <div id="dropdownMenu" class="dropdown-invisible duration-100 absolute z-10 top-full mt-4 bg-white rounded-lg shadow p-4 w-48 space-y-1">
    <%= f.label :sorts, class: "sr-only" %>
    <%= button_tag class: "text-left pr-2 flex items-center gap-2" do %>
      <%= f.radio_button :sorts, "created_at desc", checked: true, class: "pointer-events-none bg-gray-50 border border-gray-300" %>
      <%= f.label :sorts, "新しい投稿", value: "created_at desc", class: "cursor-pointer w-full inline-block text-gray-700" %>
    <% end %>
    <%= button_tag class: "text-left pr-2 flex items-center gap-2" do %>
      <%= f.radio_button :sorts, "created_at asc", class: "pointer-events-none bg-gray-50 border border-gray-300" %>
      <%= f.label :sorts, "古い投稿", value: "created_at asc", class: "cursor-pointer w-full inline-block text-gray-700" %>
    <% end %>
  </div>
</div>
