<div id="dropdownWrap" class="relative flex items-center justify-center">
  <%= button_tag type: "button", id: "dropdownToggle", class: "search-dropdown-button" do %>
    <span>ソート</span>
    <%= render "shared/icons/expand", class_list: "h-4 w-4 fill-current" %>
  <% end %>
  <div id="dropdownMenu" class="dropdown-menu fade-out absolute z-10 top-full mt-4 p-4 w-48">
    <%= f.label :sorts, class: "sr-only" %>
    <%= button_tag class: "search-detail-button" do %>
      <%= f.radio_button :sorts, "created_at desc", checked: true, class: "pointer-events-none radio-button" %>
      <%= f.label :sorts, "新しい投稿", value: "created_at desc" %>
    <% end %>
    <%= button_tag class: "search-detail-button" do %>
      <%= f.radio_button :sorts, "created_at asc", class: "pointer-events-none radio-button" %>
      <%= f.label :sorts, "古い投稿", value: "created_at asc" %>
    <% end %>
  </div>
</div>
