<section class="bg-white">
  <div class="flex flex-col items-center px-6 py-8 mx-auto md:h-screen md:py-24">
    <h1 class="mb-6">Pinspot</h1>
    <div class="w-full bg-white rounded-lg shadow sm:max-w-md">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h2>ログイン</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-4 md:space-y-6" }) do |f| %>
          <div class="field space-y-2">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-field" %>
          </div>
          <div class="field space-y-2">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password", class: "text-field" %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="field flex items-center gap-2">
              <%= f.check_box :remember_me, class: "check-box" %>
              <%= f.label :remember_me, class: "text-gray-500" %>
            </div>
          <% end %>
          <div class="actions">
            <%= f.submit "ログイン", class: "submit-button w-full" %>
          </div>
        <% end %>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</section>
