<section class="bg-white">
  <div class="flex flex-col items-center px-6 py-8 mx-auto md:h-screen md:py-24">
    <p class="font-bold text-3xl p-1.5 mb-6">Pinspot</p>
    <div class="w-full bg-white rounded-lg shadow sm:max-w-md">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h2 class="text-xl font-bold text-gray-900 md:text-2xl">
          ログイン
        </h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-4 md:space-y-6" }) do |f| %>
          <div class="field">
            <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-gray-600 focus:border-gray-600 block w-full p-2.5" %>
          </div>
          <div class="field">
            <%= f.label :password, class: "block mb-2 text-sm font-medium text-gray-900" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-gray-600 focus:border-gray-600 block w-full p-2.5" %>
          </div>
          <div class="flex items-center justify-between">
            <% if devise_mapping.rememberable? %>
              <div class="field flex items-start">
                <div class="flex items-center h-5">
                  <%= f.check_box :remember_me, class: "w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-gray-300" %>
                </div>
                <div class="ml-3 text-sm">
                  <%= f.label :remember_me, class: "text-gray-500" %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="actions">
            <%= f.submit "ログイン", class: "w-full text-white bg-gray-600 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center cursor-pointer" %>
          </div>
        <% end %>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</section>
