<div class="flex gap-5 justify-center mb-3">
  <% if user_signed_in? %>
    <%= link_to profile_path, class: "flex gap-1 items-center" do %>
      <% if current_page?(profile_path) %>
        <%= render "shared/icons/posts", class_list: "w-4 h-4 fill-current" %>
        <p>投稿</p>
      <% else %>
        <%= render "shared/icons/posts", class_list: "w-4 h-4 fill-gray-500" %>
        <p class="text-gray-500">投稿</p>
      <% end %>
    <% end %>
    <%= link_to show_likes_profile_path, class: "flex gap-1 items-center" do %>
      <% if current_page?(show_likes_profile_path) %>
        <%= render "shared/icons/heart", class_list: "w-4 h-4 fill-current" %>
        <p>いいねした投稿</p>
      <% else %>
        <%= render "shared/icons/heart", class_list: "w-4 h-4 fill-gray-500" %>
        <p class="text-gray-500">いいねした投稿</p>
      <% end %>
    <% end %>
    <% if current_user.same_user?(user_id) %>
      <%= link_to show_bookmarks_profile_path, class: "flex gap-1 items-center" do %>
        <% if current_page?(show_bookmarks_profile_path) %>
          <%= render "shared/icons/bookmark", class_list: "w-4 h-4 fill-current" %>
          <p>保存した投稿</p>
        <% else %>
          <%= render "shared/icons/bookmark", class_list: "w-4 h-4 fill-gray-500" %>
          <p class="text-gray-500">保存した投稿</p>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <div class="flex gap-1 items-center">
      <%= render "shared/icons/posts", class_list: "w-4 h-4 fill-current" %>
      <p>投稿</p>
    </div>
  <% end %>
</div>
