<div id="hamMenuToggle" class="lg:hidden">
  <button type="button">
    <%= render "shared/icons/bar_menu", class_list: "h-8 w-8 fill-current" %>
  </button>
</div>
<div id="hamMenuClose" class="hidden z-10">
  <button type="button">
    <%= render "shared/icons/x_mark", class_list: "h-8 w-8 fill-current" %>
  </button>
</div>
<div id="hamMenu" class="absolute bg-white z-10 top-full w-full left-0 p-6 space-y-2 duration-100 fade-out lg:hidden">
  <%= render "shared/search_bar", q: q %>
  <ul class="space-y-2">
    <% if user_signed_in? %>
      <li>
        <%= link_to "投稿する", new_post_path, class: "li-link" %>
      </li>
      <li>
        <%= link_to "プロフィール", profile_path(current_user.profile.id), class: "li-link" %>
      </li>
      <li>
        <%= link_to "アカウント設定", users_show_path, class: "li-link" %>
      </li>
      <li>
        <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "li-link" %>
      </li>
    <% else %>
      <li>
        <%= button_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "li-link" %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path, class: "li-link" %>
      </li>
      <li>
        <%= link_to "新規登録", new_user_registration_path, class: "li-link" %>
      </li>
    <% end %>
    <li>
      <%= link_to "お問い合わせ", new_contact_path, class: "li-link" %>
    </li>
  </ul>
</div>
