<ul class="space-y-2">
  <li>
    <%= link_to "探す", search_posts_path, class:"li-link" %>
  </li>
  <li>
    <%= button_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "li-link" %>
  </li>
  <li>
    <%= link_to "ログイン", new_user_session_path, class: "li-link" %>
  </li>
  <li>
    <%= link_to "新規登録", new_user_registration_path, class: "li-link" %>
  </li>
  <li>
    <%= link_to "お問い合わせ", new_contact_path, class: "li-link" %>
  </li>
</ul>
