<div id="dropdownWrap" class="relative flex items-center justify-center">
  <button id="dropdownToggle" type="button">
    <% if current_user.profile.avatar.attached? %>
      <div class="w-8 h-8 rounded-full overflow-hidden">
        <%= image_tag current_user.profile.avatar.variant(resize_to_limit: [100, 100]), class: "w-full h-full object-cover" %>
      </div>
    <% else %>
      <%= render "shared/icons/user", class_list: "h-8 w-8 fill-current" %>
    <% end %>
  </button>
  <div id="dropdownMenu" class="dropdown-menu fade-out absolute z-10 top-full mt-4 w-44 py-2">
    <ul>
      <li>
        <%= link_to "プロフィール", profile_path(current_user.profile.id), class: "li-link" %>
      </li>
      <li>
        <%= link_to "アカウント設定", users_show_path, class: "li-link" %>
      </li>
      <li>
        <%= link_to "お問い合わせ", new_contact_path, class: "li-link" %>
      </li>
      <li>
        <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "li-link" %>
      </li>
    </ul>
  </div>
</div>
