<div id="dropdownWrap" class="relative flex items-center justify-center">
  <button id="dropdownToggle" type="button">
    <%= create_avatar_elements current_user.profile.avatar, "medium" %>
  </button>
  <div id="dropdownMenu" class="dropdown-menu fade-out absolute z-10 top-full mt-4 w-44 py-2">
    <ul>
      <li>
        <%= link_to "プロフィール", profile_path(current_user.profile.id), class: "li-link" %>
      </li>
      <li>
        <%= link_to "アカウント設定", users_show_path, class: "li-link" %>
      </li>
      <li>
        <%= link_to "お問い合わせ", new_contact_path, class: "li-link" %>
      </li>
      <li>
        <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "li-link" %>
      </li>
    </ul>
  </div>
</div>
