<header class="bg-white sticky top-0 z-50">
  <nav class="mx-auto max-w-1920 p-4 flex items-center justify-between md:p-6">
    <div class="flex items-center gap-10">
      <%= link_to root_path, class: "normal-link" do %>
        <h1>Pinspot</h1>
      <% end %>
      <%= link_to "探す", search_posts_path, class:"normal-link hidden lg:block" %>
    </div>
    <%= render "shared/hamburger_menu", q: q %>
    <div class="lg:flex lg:items-center lg:gap-5 hidden">
      <%= render "shared/search_bar", q: q %>
      <%= create_header_elements %>
    </div>
  </nav>
</header>
