<% content_for(:title_info, "お問い合わせ") %>
<div id="contacts_new" class="bg-white">
  <div class="p-6 max-w-2xl mx-auto space-y-4">
    <h2>お問い合わせ</h2>
    <%= form_with model: @contact, class: "space-y-6" do |f| %>
      <%= render "shared/error", model: f.object %>
      <div class="space-y-2">
        <%= f.label :email %>
        <%= f.text_field :email, class: "text-field" %>
      </div>
      <div class="space-y-2">
        <%= f.label :subject %>
        <%= f.text_field :subject, class: "text-field" %>
      </div>
      <div class="space-y-2">
        <%= f.label :message %>
        <%= f.text_area :message, rows: "8", class: "text-field" %>
      </div>
      <div>
        <%= f.submit '送信する', class: "submit-button" %>
      </div>
    <% end %>
  </div>
</div>
