<div id="dropdownWrap" class="relative flex items-center justify-center">
  <%= button_tag type: "button", id: "dropdownToggle", class: "search-dropdown-button" do %>
    <span>カテゴリー</span>
    <%= render "shared/icons/expand", class_list: "h-4 w-4 fill-current" %>
  <% end %>
  <div id="dropdownMenu" class="dropdown-menu fade-out absolute z-10 top-full mt-4 p-4 w-72 grid grid-cols-2 gap-1">
    <%= f.label :categories_id_in, class: "sr-only" %>
    <%= f.collection_check_boxes(:categories_id_in, categories, :id, :name) do |b| %>
      <%= button_tag class: "search-detail-button" do %>
        <%= b.check_box class: "check-box pointer-events-none" %>
        <%= b.label %>
      <% end %>
    <% end %>
  </div>
</div>
