<div class="relative mx-2 py-2">
  <div class="space-y-1">
    <div class="flex justify-between">
      <%= link_to comment.user.profile, class: "flex items-center gap-2 w-fit" do %>
        <%= create_avatar_elements comment.user.profile.avatar, "icon-medium" %>
        <h3><%= comment.user.profile.name %></h3>
      <% end %>
      <% if user_signed_in? && current_user.same_user?(comment.user_id) %>
        <%= render "comment_dropdown", post_id: post_id, comment_id: comment.id %>
      <% end %>
    </div>
    <p><%= safe_join(comment.content.split("\n"), tag(:br)) %></p>
    <p class="text-gray-500"><%= l comment.updated_at, format: :long %></p>
  </div>
</div>
