<div id="post_detail" class="bg-white grow lg:basis-2/3">
  <div class="p-4 space-y-3 divide-y divide-solid border-gray-100 md:p-6">
    <div class="flex justify-between">
      <%= turbo_frame_tag "like_bookmark_button" do %>
        <div class="flex gap-2">
          <%= create_like_button(post.id) %>
          <%= create_bookmark_button(post.id) %>
        </div>
      <% end %>
      <% if user_signed_in? && current_user.same_user?(post.user_id) %>
        <%= render "post_dropdown" %>
      <% end %>
    </div>
    <div class="pt-3 flex gap-6 items-center">
      <%= link_to post.user.profile, id:"profile_link", class: "flex items-center gap-2" do %>
        <%= create_avatar_elements post.user.profile.avatar, "icon-large" %>
        <h2><%= post.user.profile.name %></h2>
      <% end %>
      <% if !user_signed_in? || !current_user.same_user?(post.user_id) %>
        <%= turbo_frame_tag "follow_button" do %>
          <%= create_follow_button(post.user_id) %>
        <% end %>
      <% end %>
    </div>
    <div class="pt-3 space-y-3">
      <h3><%= post.title %></h3>
      <p><span class="font-semibold">撮影スポット: </span><%= link_to post.location, search_posts_path(q: { title_or_location_cont: post.location }), class: "normal-link" %></p>
      <div class="flex gap-2">
        <% post.categories.each do |category| %>
          <%= link_to category.name, search_posts_path(q: { categories_id_in: ["", "#{category.id}"] }), class: "category-button" %>
        <% end %>
      </div>
      <p><%= safe_join(post.description.split("\n"), tag(:br)) %></p>
      <p class="text-gray-500"><%= l post.created_at, format: :long %></p>
    </div>
  </div>
</div>
