<div id="post_main" class="relative bg-gray-800 p-4 grid gap-6 grid-cols-1 lg:grid-cols-2 md:p-6">
  <%= link_to 'javascript:history.back()', id: "back_button", class: "absolute z-10 hidden md:block md:top-6 md:left-6" do %>
    <%= render "shared/icons/back_button", class_list: "icon-medium fill-white hover:fill-gray-200" %>
  <% end %>
  <div class="flex justify-center items-center md:mt-14 lg:ml-14 lg:mt-0">
    <%= image_tag post.image.variant(resize_to_limit: select_image_size("large")), class:"max-h-[50vh] lg:max-h-[70vh] shadow" %>
  </div>
  <div data-controller="google-map" class="flex justify-center items-center">
    <div data-google-map-target="map" class="h-full w-full aspect-[1/1] rounded-lg shadow max-h-[400px] max-w-[500px] lg:max-h-[500px]" data-latitude=<%= post.latitude %> data-longitude=<%= post.longitude %>></div>
  </div>
</div>
