<div class="bg-white flex-grow divide-y divide-solid border-gray-100">
  <div class="flex justify-between">
    <div class="p-3 flex gap-2 items-center">
      <%= display_like_button(post.id) %>
      <%= display_bookmark_button(post.id) %>
    </div>
    <% if user_signed_in? %>
      <% if current_user.same_user?(post.user_id) %>
        <%= render "post_dropdown" %>
      <% end %>
    <% end %>
  </div>
  <div class="p-3 flex gap-2 items-center">
    <%= link_to post.user.profile, class: "flex items-center gap-2" do %>
      <%= create_avatar_elements post.user.profile.avatar, "medium" %>
      <h2><%= post.user.profile.name %></h2>
    <% end %>
    <%= create_follow_button(post.user_id) %>
  </div>
  <div class="p-3">
    <div class="pb-3">
      <p class="pb-2"><span class="font-bold">撮影スポット: </span><%= post.location %></p>
      <p><span class="font-bold">撮影日: </span><%= l post.created_at, format: :long %></p>
      <div class="flex gap-3">
        <% post.categories.each do |category| %>
          <%= link_to category.name, search_posts_path(q: { categories_id_in: ["", "#{category.id}"] }), class: "category-button" %>
        <% end %>
      </div>
    </div>
    <p><%= post.description %></p>
  </div>
</div>
