<section class="bg-white">
  <div class="max-w-2xl px-4 py-4 mx-auto lg:py-16">
    <h2 class="mb-4 text-xl font-bold text-gray-900">編集</h2>
    <%= form_with model: @post do |f| %>
      <%= render "posts/shared/error", model: f.object %>
      <div class="mb-6">
        <%= f.label :image, class: "block mb-2 text-sm font-medium text-gray-900", for: "fileInput" %>
        <%= f.file_field :image, class: "block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50  focus:outline-none file:mr-4 file:py-2 file:px-4 file:border-0 file:text-sm file:font-semibold file:bg-gray-800 file:text-white hover:file:bg-gray-700", id: "fileInput" %>
      </div>
      <div class="mb-6 flex justify-center">
        <% if @post.image.present? %>
          <%= image_tag @post.image.variant(resize_to_limit: [1000, 1000]), id: "image", class:"h-auto max-w-full shadow-lg max-h-500" %>
        <% else %>
          <%= image_tag "", id: "image", class:"h-auto max-w-full shadow-lg max-h-500" %>
        <% end %>
      </div>
      <div class="mb-6">
        <%= f.label :location, class: "block mb-2 text-sm font-medium text-gray-900" %>
        <div class="flex gap-4">
          <%= f.text_field :location, id: "address", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-600 focus:border-gray-600 block w-full p-2.5" %>
          <button type="button" id="mapSearch" class="py-2 px-4 rounded-lg border-0 text-sm font-semibold bg-gray-800 text-white whitespace-nowrap hover:bg-gray-700">地図で検索</button>
        </div>
      </div>
      <div class="mb-6">
        <div id="map" class="h-72 md:h-600" data-latitude=<%= @post.latitude %> data-longitude=<%= @post.longitude %>></div>
        <%= f.hidden_field :latitude, id: "lat" %>
        <%= f.hidden_field :longitude, id: "lng" %>
      </div>
      <div class="mb-6">
        <%= f.label :title, class:"block mb-2 text-sm font-medium text-gray-900" %>
        <%= f.text_field :title, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-600 focus:border-gray-600 block w-full p-2.5" %>
      </div>
      <div class="mb-6">
        <%= f.label :description, class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= f.text_area :description, rows: "8", class: "block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-gray-500 focus:border-gray-500" %>
      </div>
      <div class="flex items-center space-x-4">
        <%= f.submit "変更", class: "cursor-pointer text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
        <%= link_to "キャンセル", @post, class: "text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
      </div>
    <% end %>
  </div>
</section>
