<div class="bg-white">
  <div class="mx-auto max-w-7xl">
    <%= form_with model: @post do |f| %>
      <div>
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>
      <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
      <div>
        <%= f.label :location %>
        <%= f.text_field :location, id: "address" %>
        <button type="button" id="mapSearch">地図で検索</button>
        <div id="map" class="h-72 md:h-600"></div>
        <%= f.hidden_field :latitude, id: "lat" %>
        <%= f.hidden_field :longitude, id: "lng" %>
      </div>
      <%= f.submit "登録" %>
    <% end %>
  </div>
</div>
