<% content_for :js do %>
  <%= javascript_import_module_tag "posts/show_googlemap" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_MAP_API_KEY"]}&callback=initMap", defer: true %>
<% end %>
<div class="bg-gray-100 p-4">
  <div class="bg-white m-auto max-w-7xl">
    <div class="bg-black bg-opacity-80 p-6 grid gap-6 grid-cols-1 relative sm:grid-cols-2">
      <div class="flex justify-center items-center">
        <%= image_tag @post.image.variant(resize_to_limit: [1000, 1000]), id: "image", class:"h-auto max-w-full shadow-lg object-contain max-h-500" %>
      </div>
      <div class="flex justify-center items-center">
        <div id="map" class="w-500 h-96 md:h-500 rounded-lg shadow-lg max-w-full" data-latitude=<%= @post.latitude %> data-longitude=<%= @post.longitude %>></div>
      </div>
      <div data-dial-init class="absolute top-4 right-4">
        <button type="button" data-collapse-toggle="speed-dial-menu-dropdown" aria-controls="speed-dial-menu-dropdown" aria-expanded="false" class="flex items-center justify-center ml-auto hover:opacity-60">
          <svg aria-hidden="true" class="w-8 h-8 fill-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path></svg>
          <span class="sr-only">Open actions menu</span>
        </button>
        <div id="speed-dial-menu-dropdown" class="flex flex-col justify-end hidden py-1 mb-4 space-y-2 bg-white border border-gray-100 rounded-lg shadow-sm">
          <ul class="text-sm text-gray-500">
            <li>
              <%= link_to "編集", edit_post_path, class: "flex items-center px-5 py-2 hover:bg-gray-100 hover:text-gray-900 text-sm font-medium" %>
              <%= button_to "削除", post_path, method: :delete, class: "flex items-center px-5 py-2 hover:bg-gray-100 hover:text-gray-900 text-sm font-medium" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bg-white">
      <div class="border-solid border-b border-gray-100 p-3 flex gap-2 items-center">
        <svg class="w-8 h-8" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"></path>
        </svg>
        <svg class="w-8 h-8" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z"></path>
        </svg>
      </div>
      <div class="border-solid border-b border-gray-100 p-3 flex gap-2 items-center">
        <svg class="w-12 h-12" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path clip-rule="evenodd" fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"></path>
        </svg>
        <h3 class="text-xl font-bold"><%= @user.email %></h3>
        <a href="#" class="font-medium text-green-400 underline hover:text-green-500 hover:no-underline">フォロー</a>
      </div>
      <div class="border-solid border-b border-gray-100 p-3">
        <div class="pb-3">
          <p class="pb-2"><span class="font-bold">撮影スポット: </span><%= @post.location %></p>
          <p><span class="font-bold">撮影日: </span><%= l @post.created_at, format: :long %></p>
        </div>
        <p><%= @post.description %></p>
      </div>
    </div>
  </div>
</div>
