<div class="bg-gray-100 p-4">
  <div class="m-auto max-w-7xl">
    <div class="bg-black bg-opacity-80 p-6 grid gap-6 grid-cols-1 relative sm:grid-cols-2">
      <div class="flex justify-center items-center">
        <%= image_tag @post.image.variant(resize_to_limit: [1000, 1000]), class:"h-auto max-w-full shadow-lg object-contain max-h-500" %>
      </div>
      <div class="flex justify-center items-center">
        <div id="map" class="w-500 h-96 md:h-500 rounded-lg shadow-lg max-w-full" data-latitude=<%= @post.latitude %> data-longitude=<%= @post.longitude %>></div>
      </div>
      <% if user_signed_in? %>
        <% if current_user.same_user?(@post.user_id) %>
          <div id="dropdownWrap" class="absolute top-4 right-4">
            <button id="dropdownToggle" type="button" class="flex items-center justify-center ml-auto hover:opacity-60">
              <%= render "shared/icons/dot_menu", class_list: "w-8 h-8 fill-white" %>
            </button>
            <div id="dropdownMenu" class="justify-end py-1 mb-4 space-y-2 bg-white border border-gray-100 rounded-lg shadow-sm duration-100 fade-out">
              <ul class="text-sm text-gray-500">
                <li>
                  <%= link_to "編集", edit_post_path, class: "flex items-center px-5 py-2 hover:bg-gray-100 hover:text-gray-900 text-sm font-medium" %>
                  <%= button_to "削除", @post, method: :delete, data: { turbo_confirm: '本当に削除しますか?' }, class: "flex items-center px-5 py-2 hover:bg-gray-100 hover:text-gray-900 text-sm font-medium" %>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="flex flex-col flex-wrap gap-4 mt-4 lg:flex-row">
      <div class="bg-white flex-grow divide-y divide-solid border-gray-100">
        <%= render "posts/shared/like_bookmark", post_id: @post.id %>
        <div class="p-3 flex gap-2 items-center">
          <%= link_to @post.user.profile, class: "flex items-center gap-2" do %>
            <% if @post.user.profile.avatar.attached? %>
              <div class="w-10 h-10 rounded-full overflow-hidden">
                <%= image_tag @post.user.profile.avatar.variant(resize_to_limit: [100, 100]), class: "w-full h-full object-cover" %>
              </div>
            <% else %>
              <%= render "shared/icons/user", class_list: "w-10 h-10 fill-current" %>
            <% end %>
            <h3 class="text-xl font-bold"><%= @post.user.profile.name %></h3>
          <% end %>
          <%= render "shared/follow", user_id: @post.user_id %>
        </div>
        <div class="p-3">
          <div class="pb-3">
            <p class="pb-2"><span class="font-bold">撮影スポット: </span><%= @post.location %></p>
            <p><span class="font-bold">撮影日: </span><%= l @post.created_at, format: :long %></p>
            <div class="flex gap-3">
              <% @post.categories.each do |category| %>
                <%= link_to search_posts_path(q: { categories_id_in: ["", "#{category.id}"] }), class: "border border-gray-200 rounded-md px-3 py-1" do %>
                  <p class="text-gray-700"><%= category.name %></p>
                <% end %>
              <% end %>
            </div>
          </div>
          <p><%= @post.description %></p>
        </div>
      </div>
      <div class="bg-white max-w-full lg:w-96">
        <%= render "posts/shared/comment", post: @post, comments: @comments, new_comment: @comment %>
      </div>
    </div>
  </div>
</div>
